img 
{
height:200px;
width:150px;
margin-left:1000px;
margin-top:-200px;
}
h3
{
    background-color: cyan;
    color:red;
}
table
{
width:100%;
text-align: center;
}
h1 
{
    text-align: center;
    color: violet;
}


